body {
  display: flex;
  justify-content: center;
}

.pagina {
  width: 375px;
  height: 2800px;
  background-color: rgb(194, 194, 255);
}

.color_marron {
  color: #9e8c6c;
}

ul {
  list-style-type: none;
}

li {
  margin-left: -40px;
}

img {
  display: flex;
  margin: 0 auto;
  margin-top: 160px;
}

.nombre {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
}

.logos {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.titulo_abajo {
  display: flex;
  justify-content: center;
}

.correo {
  display: flex;
  justify-content: center;
}

.num_telefono {
  display: flex;
  justify-content: center;
}

button {
  background-color: #0093a0;
  color: white; 
  display: block;
  margin: 20px auto;
  border: none; 
  padding: 14px 40px;
  font-weight: bold; 
  letter-spacing: 1.5px;
  font-size: 13px;
}

.developer {
  display: flex;
  justify-content: center;
}
