body {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pagina {
  width: 375px;
  padding: 0 21px;
  box-sizing: border-box;
}

.color_marron {
  color: #9e8c6c;
}

ul {
  list-style-type: none;
}

li {
  margin-left: -40px;
}

.foto_perfil {
  display: flex;
  margin: 0 auto;
  margin-top: 160px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: block;
  margin: 80px auto 0 auto;
  opacity: 1;
}
.foto_dos {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 66px;
  left: 870px;
  transform: rotate(0deg);
  opacity: 1;
}
.nombre {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 56px;
  text-box-trim: none;
  line-height: 46px;
  letter-spacing: -2.17px;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.titulo_abajo {
  display: flex;
  justify-content: center;
}

.correo {
  display: flex;
  justify-content: center;
}

.num_telefono {
  display: flex;
  justify-content: center;
}

button {
  width: 225px;
  height: 60px;
  display: block;
  margin: 0 auto;
  background-color: #0699a6;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}

.developer {
  display: flex;
  justify-content: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
}

h1 {
  max-width: 335px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0px;
}

.titulo_aboutme {
  margin-top: 100px;
}

.fondo_marron {
 
}
